<div class="container d-flex justify-content-between align-items-center mt-5">
  <div class="card" style="width: 15rem;">
    <div class="card-header text-center"><h5 class="title">Employees</h5></div>
    <div class="card-body d-flex justify-content-center"><button class="btn btn-dark bg-dark" routerLink="/dashboard/employees">Details</button></div>
  </div>
  <div class="card" style="width: 15rem;">
    <div class="card-header text-center"><h5 class="title">Departments</h5></div>
    <div class="card-body d-flex justify-content-center"><button class="btn btn-dark bg-dark" routerLink="/dashboard/departments">Details</button></div>
  </div>
  <div class="card"style="width: 15rem;">
    <div class="card-header text-center"><h5 class="title">Announcements</h5></div>
    <div class="card-body d-flex justify-content-center"><button class="btn btn-dark bg-dark" routerLink="/dashboard/announcements">Details</button></div>
  </div>
  <div class="card"style="width: 15rem;">
    <div class="card-header text-center"><h5 class="title">Tasks</h5></div>
    <div class="card-body d-flex justify-content-center"><button class="btn btn-dark bg-dark" routerLink="/dashboard/tasks">Details</button></div>
  </div>
</div>