<div  class="content addForm mt-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Employee Update Form</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="employeeUpdateForm">
                    
                    <div class="mb-3">
                        <label for="updateDepartmentId">
                            Department
                        </label>
                        <div class="form-group">
                            <select  id="updateDepartmentId" class="form-select" formControlName="departmentId">
                               
                                <option [value]="department.id" *ngFor="let department of departments">
                                    {{department.name}}
                                </option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="mb-3">
                        <label for="updateFirstName">
                            FirstName
                        </label>
                        <div class="form-group" >
                            <input  type="text" id="updateFirstName" formControlName="firstName" class="form-control" placeholder="FirstName...">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="updateLastName">
                            LastName
                        </label>
                        <div class="form-group">
                            <input type="text" id="updateLastName" formControlName="lastName" class="form-control" placeholder="LastName...">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="updateEmail">
                            Email
                        </label>
                        <div class="form-group">
                            <input type="text" id="updateEmail" formControlName="email" class="form-control" placeholder="Email...">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="updateSalary">
                            Salary
                        </label>
                        <div class="form-group">
                            <input type="text" id="updateSalary" formControlName="salary" class="form-control" placeholder="Salary...">
                        </div>
                    </div>
                </form>
            </div>
<div class="card-footer justify-content-end d-flex">
    <button class="btn btn-primary btn-fill btn-lg " routerLink="/dashboard/employees"  (click)="update()">
        Update Employee
    </button>
</div>
        </div> 
    </div>
</div>
